<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> <%= title %></title>
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <%- include ('header.ejs') %>
            <div class="py-2 border-b-2 m-2" style="display: flex; justify-content: space-between;">
                <h1 class="text-black-600 text-xl font-semibold">Welcome, <br> <%= currentUser.role %>: <%= currentUser.firstName %> <%= currentUser.lastName %> </h1>
                <a href="/signout" class="text-green-600 text-xl font-semibold">Signout</a>
            </div>
            <% if (currentUser.role === "student") { %>
                <a href="/student-dashboard" class="text-blue-600 text-sm font-semibold border-b-2 py-2 m-2">Back to Dashboard</a>
            <% } else { %>
                <a href="/teacher-dashboard" class="text-blue-600 text-sm font-semibold border-b-2 py-2 m-2">Back to Dashboard</a>
            <% } %>
            <h6 class="bg-blue-100 py-2 font-bold text-xl m-2">Change Password</h6>
            <!-- <p class="py-2 text-lg border-b-2 mb-2">Don't have an account? <a href="/signup" class="text-green-600 font-semibold hover:underline">Sign-up here</a></p> -->
            <form action="/changePassword" method="post" autocomplete="on">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-3">
                    <label for="email">Existing Email: </label>
                    <input type="email" name="email" id="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3 relative">
                    <label for="password">New Password: </label>
                    <input type="password" name="password" id="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded px-5 py-2">Set Password</button>
                </div>
            </form>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-red-300 my-4 list-none rounded border-gray-50 px-4 py-2"><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>