<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <%- include ('header.ejs') %>
            <h2 class="text-2xl font-semibold py-1">Course Details</h2>
            <a href="/teacher-dashboard" class="text-blue-600 text-sm font-semibold border-b-2 py-2">Back to Dashboard</a>
            <div class="bg-white p-4 m-4">
                <h2 class="text-4xl font-semibold m-2 border-b-2 p-3 bg-blue-100"><strong><%= course.courseName %></strong></h2>
                <p class="text-xl m-2 px-2"><strong>Course ID: <%= course.id %></strong></p>
                <p class="text-xl m-2 px-2"><strong>Created By: </strong><%= user.firstName %> <%= user.lastName %></p>
                <p class="text-xl m-2 px-2"><strong>Mail: </strong><%= user.email %></p>
                <p class="text-xl m-2 px-2"><strong>Description:</strong> <%= course.courseDescription %></p>
                <p class="text-xl m-2 px-2">
                    <b>Chapters:</b>
                    <!-- List of available chapters for this course -->
                    <ol class="list-decimal text-lg ml-10 mb-2">
                        <% for (let chapter of chapters) { %>
                            <li class="text-blue-600 hover:text-blue-800 hover:underline transition-colors">
                                <a href="/view-chapter/<%= chapter.id %>/createpage">
                                    <%= chapter.chapterName %>
                                </a>
                            </li>
                        <% } %>
                    </ol>
                </p>
                <a href="/view-course/<%= course.id %>/createchapter" class="bg-blue-600 text-white px-4 py-2 rounded font-xl hover:bg-blue-700 text-center ml-5    ">
                    Create a New Chapter
                </a>                
            </div>
        </div>
    </div>
</body>
</html>