<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <%- include ('header.ejs') %>
            <div class="py-2 text-sm font-semibold border-b-2" style="display: flex; justify-content: space-between;">
                <a href="/view-course/<%= course.id %>?currentUserId=<%= currentUser.id %>" class="text-blue-600 text-sm font-semibold border-b-2 py-2">Back to Course</a>
                <h1 class="text-black-600 text-sm font-semibold"><%= currentUser.firstName %> <%= currentUser.lastName %> <br> <a href="/signout" class="text-green-600 text-lg font-semibold">Signout</a> </h1>
            </div>
            <h1 class="text-black-600 text-2xl font-semibold border-b-2 py-2 mb-2">
                <strong>Course: </strong> <%= course.courseName %> <br>
                <strong>Chapter: </strong> <%= chapter.chapterName %>
            </h1>
            <!-- Available pages -->
            <ol class="space-y-4 list-decimal m-4">
                <% if (pages.length === 0) { %>
                    <h3 class="mb-5 text-2xl text-gray-600">---No pages available</h3>
                <% } else { %>
                    <% for (let page of pages) { %>
                        <li class="mb-5">
                            <div class="bg-blue-100 border border-gray-300 p-4 rounded-lg shadow hover:shadow-lg">
                                <div class="flex items-center justify-between">
                                    <h2 class="text-2xl font-semibold m-2"><%= page.title %></h2>
                                </div>
                                <h3 class="text-xl m-2"><%= page.content %></h3>
                            </div>
                        </li>
                    <% } %>
                <% } %>
            </ol>
            <% if(userOfCourse.id === currentUser.id) { %>
                <h1 class="text-black-600 text-2xl font-semibold border-t-2 bg-green-100 border-b-2 py-2 mt-6 mb-2">Create a New Page</h1>
                <form action="/view-chapter/<%= chapterId %>/createpage?currentUserId=<%= currentUser.id %>" method="post" autocomplete="on" class="m-3">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="chapterId" value="<%= chapterId %>">
                    <div class="py-4">
                        <label for="pageName" class="text-gray-900 text-lg">Page Title:</label>
                        <input type="text" name="pageName" id="pageName" class="border border-gray-300 rounded p-2 w-full text-gray-900 text-lg" required />
                    </div>
                    <div class="py-4">
                        <label for="pageContent" class="text-gray-900 text-lg">Page Content:</label>
                        <textarea name="pageContent" id="pageContent" class="border border-gray-300 rounded p-2 w-full h-32 text-gray-900 text-lg" required></textarea>
                    </div>
                    <div class="py-4">
                        <button type="submit" class="bg-green-600 text-white px-5 py-2 rounded font-medium hover:bg-green-700">Create Page</button>
                    </div>
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>