<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <title> <%= title %></title>
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <%- include ('header.ejs') %>
            <h6 class="bg-blue-100 py-2 text-xl">Signup as a new User</h6>
            <p class="py-2 text-lg border-b-2 mb-1">Already have an account? <a href="/login" class="text-green-600 font-semibold hover:underline">Sign-in</a></p>
            <form action="/users" method="post" autocomplete="on">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-2">
                    <label for="role" class="text-gray-900 text-lg">Role:</label>
                    <select name="role" id="role" class="border border-gray-300 rounded p-2 w-full text-gray-900 text-lg">
                        <option value="null">Please select</option>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                    </select>
                </div>
                <div class="py-2">
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName" id="firstName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-2">
                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" id="lastName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-2">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-2">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded px-5 py-2">Sign-up</button>
                </div>
            </form>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                  <p class="bg-red-300 my-4 list-none rounded border-gray-50 px-4 py-2"><%= messages.error[i] %></p>
                <% } %>
              <% } %>
        </div>
    </div>
</body>
</html>