<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons8-books-doodle-favicons/Web/icons8-books-doodle-16.png">
    <title><%= title %></title>
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <%- include ('header.ejs') %>
            <div class="py-4 flex flex-col">
                <div class="py-2 border-b-2 m-2" style="display: flex; justify-content: space-between;">
                    <h1 class="text-black-600 text-xl font-semibold">Welcome, <br> Student: <%= currentUser.firstName %> <%= currentUser.lastName %> </h1>
                    <a href="/signout" class="text-green-600 text-xl font-semibold">Signout</a>
                </div>
                <div class="border-b-2 m-1">
                    <h1 class="text-xl font-bold text-blue-600 m-1">
                        🚀Unlock Your Potential: Your Learning Adventure Begins Here!
                    </h1>
                    <p class="text-medium text-gray-700 m-3">
                        Dive into a world of knowledge. Explore our diverse courses and embark on your journey to success.
                    </p>                
                </div>
                <div class="p-2 flex flex-row justify-evenly bg-yellow-100">
                    <a href="/stuMyCourses" class="bg-blue-600 text-white px-5 py-2 rounded font-medium hover:bg-blue-700 text-center block">
                        My Enrolled Courses
                    </a>
                    <a href="/changePassword" class="bg-red-600 text-white px-5 py-2 rounded font-medium hover:bg-red-700 text-center block">
                        Change Password
                    </a>
                </div>
                <hr class="m-3">
            </div>
            
            <div id="courseContainer" class="space-y-4">
                <div class="mb-4">
                    <label for="search" class="text-sm font-bold text-gray-700">Search Courses:</label>
                    <input type="text" id="search" name="search" class="mt-1 p-1 border border-gray-300 rounded-md">
                </div>
    
                <% for (let course of courses) { %>
                    <a href="/view-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>" class="course-card bg-white border border-gray-300 p-4 rounded-lg shadow-lg hover:shadow-xl transition duration-300" style="display: none;">
                        <div class="flex items-center justify-between mb-2">
                            <h2 class="course-name text-xl font-bold">
                                <%= course.courseName %> 
                            </h2>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 hover:text-gray-700 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </div>
                        <% for(let user of users) { %>
                            <% if(user.id === course.userId) { %>
                                <p class="text-sm text-gray-600 mb-2">by <%= user.firstName %> <%= user.lastName %></p>
                            <% } %>
                        <% } %>
                    </a>
                <% } %>
            </div>

            <!-- Display enrolled courses -->
            <%- include ('displayCourses.ejs', { currentUser, courses, users, enrols }) %>

            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-red-300 my-4 list-none rounded border-gray-50 px-4 py-2"><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
    </div>
    <script>
        function filterCourses() {
            const searchInput = document.getElementById('search').value.toLowerCase();
            const courseCards = document.querySelectorAll('.course-card');

            courseCards.forEach(card => {
                const courseName = card.querySelector('.course-name').textContent.toLowerCase();

                // showing or hide the card based on the search
                if (searchInput.length > 0 && courseName.includes(searchInput)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    
        // Attach the function to the input's "input" event
        document.getElementById('search').addEventListener('input', filterCourses);
    </script>
</body>
</html>