<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons8-books-doodle-favicons/Web/icons8-books-doodle-16.png">
    <title><%= title %></title>
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <%- include ('header.ejs') %>
            <div class="py-4 flex flex-col">
                <div class="py-2 border-b-2 m-2" style="display: flex; justify-content: space-between;">
                    <h1 class="text-black-600 text-xl font-semibold">Welcome, <br> Educator: <%= currentUser.firstName %> <%= currentUser.lastName %> </h1>
                    <a href="/signout" class="text-green-600 text-xl font-semibold ">Signout</a>
                </div>
                <div class="flex flex-row justify-between bg-yellow-100">
                    <div class="m-2">
                        <a href="/createcourse" class="bg-green-600 text-white px-5 py-2 rounded font-medium hover:bg-green-700 text-center block">
                            Create a New Course
                        </a>
                    </div>
                    <div class="m-2">
                        <a href="/teaMyCourses" class="bg-blue-600 text-white px-5 py-2 rounded font-medium hover:bg-blue-700 text-center block">
                            My Courses
                        </a>
                    </div>
                    <div class="m-2">
                        <a href="/view-report" class="bg-purple-600 text-white px-5 py-2 rounded font-medium hover:bg-purple-700 text-center block">
                            View Report
                        </a>
                    </div>
                    <div class="m-2">
                        <a href="/changePassword" class="bg-red-600 text-white px-5 py-2 rounded font-medium hover:bg-red-700 text-center block">
                            Change Password
                        </a>
                    </div>
                </div>
                <hr class="m-2">
            </div>
            
            <!-- Display existing courses -->
            <%- include ('displayCourses.ejs', {currentUser, courses, users}) %>

            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-red-300 my-4 list-none rounded border-gray-50 px-4 py-2"><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>